{% macro displayPitches(pitches_list)%}
    {%for pitch in pitches_list%}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div style="background-color: #facd8a;" class="well well-lg">
                <h4 style='color: #000; font-weight: regular; font-size:15px'>{{pitch.pitch_title}}</h4>
                <p style='color: #000; font-weight: regular; font-size:15px'>{{pitch.pitch_content| truncate(100)}}</p>
                <p style='color: #000; font-weight: regular; font-size:15px'>Written by:  {{pitch.user.username}} <a href="/pitch/{{pitch.id}}" class="btn btn-primary pull-right">Read</a> </p>
            </div>
        </div>
    {%endfor%}
{%endmacro%}

{%macro displayComments(comments_list)%}
    {%for comment in comments_list%}
        <div class="col-md-12">
            <h5 style='color: #fff; font-weight: regular; font-size:15px'>{{comment.user.username}}</h5>
            <p style='color: #fff; font-weight: regular; font-size:15px'>{{comment.comment}}</p>
        </div>
    {%endfor%}
{%endmacro%}
